@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&family=Creepster&family=Quicksand:wght@300&family=Raleway:wght@100&display=swap');

.episodeCard{
    display: flex;
    flex-direction: column;
    background-color: #89D83A;
    width: 80vw;
    height: auto;
    margin:2vw;
    border-radius: 15px;
}
.episodeInfo *{
    margin: 0;
    padding: 0;
}
.episodeInfo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    font-family: 'Arima Madurai', cursive;
}
.episodeCharacterCards{
    display: flex;
    background: #000;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

#articleEpisodes .episodeCharacterCards .characterCard .characterInfo{
    justify-content: center;
}